<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="static/css/header.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <div id= 'logo'>
            <img src="static/css/Spill-logos_white.png">
        </div>
        <div>
            <p>

            </p>
            <table id="navmenu">
                <thead>
                    <td colspan="5"><strong>Navigation | Menu</strong></td>
                </thead>
                <tr>
                    <tbody  style="font-family: 'Garamond', serif; font-size: 20px;">
                        <td><a href='not' class="nav"><strong>Home</strong></a></td>
                        <td><a href='home' class="nav"><strong> To Receive</strong> </a></td>
                        <td><a href='debt' class="nav"><strong>To Pay</strong></a></td>                        
                        <td><a href="hhold" class="nav"><strong>H/Hold Info</strong></a></td>
                        <td><a href="/logout" class="nav"><strong>Log Out</strong></a></td>
                    </tbody>
                </tr>
            </table>
        </div>
    </body>
</html>