<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>  
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">  
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Welcome {{user.first_name}}!</h1>
        <h2>Here are your bills:</h2>
        <h3>These are bills that you created and are still showing as there are housemates who haven't paid you yet.</h3>
        <table>
            <thead>
                <tr>
                    <th width='200px'>Sp.ILLS</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in bills %}
                <tr>
                    <td><a href='bill?id={{entry.id}}'><strong>{{entry.name}}</strong></a></td>
                </tr>
                {% else %}
                <tr>
                    <td>You have no bills</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
        <h4>
        Want to create a new bill?</br></br><a class="button login link" href="add">Click here</a>
        </h4>
    </body>
</html>